body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-46.5px;
  width:789.5px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 102, 102, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:10px;
  width:100px;
  height:40px;
  color:#FFFFFF;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:79px;
  width:158px;
  height:40px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:154px;
  word-wrap:break-word;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:50px;
  width:0px;
  height:0px;
}
#u4_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u4_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:17px;
  width:18px;
  height:18px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:159px;
  width:158px;
  height:40px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:119px;
  width:0px;
  height:0px;
}
#u8_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u8_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:28px;
  width:18px;
  height:18px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:233px;
  width:200px;
  height:60px;
  font-size:12px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:196px;
  word-wrap:break-word;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:18px;
  width:158px;
  height:40px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:199px;
  width:0px;
  height:0px;
}
#u14_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u14_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:22px;
  width:18px;
  height:18px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:263px;
  width:0px;
  height:0px;
}
#u16_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u16_seg1 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:-229px;
  width:8px;
  height:233px;
}
#u16_seg2 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:-229px;
  width:168px;
  height:8px;
}
#u16_seg3 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:-234px;
  width:18px;
  height:18px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:-152px;
  width:100px;
  word-wrap:break-word;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:293px;
  width:0px;
  height:0px;
}
#u18_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u18_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:37px;
  width:18px;
  height:18px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:96px;
  width:158px;
  height:40px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u22_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 102, 102, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:420px;
  width:100px;
  height:40px;
  color:#FFFFFF;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:373px;
  width:0px;
  height:0px;
}
#u24_seg0 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:-4px;
  width:54px;
  height:8px;
}
#u24_seg1 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:-114px;
  width:8px;
  height:118px;
}
#u24_seg2 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:-114px;
  width:54px;
  height:8px;
}
#u24_seg3 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-119px;
  width:18px;
  height:18px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:-63px;
  width:100px;
  word-wrap:break-word;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:58px;
  width:0px;
  height:0px;
}
#u26_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u26_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:26px;
  width:18px;
  height:18px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:225px;
  width:158px;
  height:40px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:225px;
  width:158px;
  height:40px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:135px;
  width:0px;
  height:0px;
}
#u32_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u32_seg1 {
  border-width:0px;
  position:absolute;
  left:-115px;
  top:42px;
  width:119px;
  height:8px;
}
#u32_seg2 {
  border-width:0px;
  position:absolute;
  left:-115px;
  top:42px;
  width:8px;
  height:48px;
}
#u32_seg3 {
  border-width:0px;
  position:absolute;
  left:-120px;
  top:78px;
  width:18px;
  height:18px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:-104px;
  top:38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:135px;
  width:0px;
  height:0px;
}
#u34_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u34_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:41px;
  width:121px;
  height:8px;
}
#u34_seg2 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:41px;
  width:8px;
  height:49px;
}
#u34_seg3 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:78px;
  width:18px;
  height:18px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:37px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:302px;
  width:158px;
  height:40px;
  color:#CC0000;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:154px;
  word-wrap:break-word;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:302px;
  width:158px;
  height:40px;
  color:#CC0000;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:154px;
  word-wrap:break-word;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:265px;
  width:0px;
  height:0px;
}
#u40_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u40_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:25px;
  width:18px;
  height:18px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:265px;
  width:0px;
  height:0px;
}
#u42_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u42_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:25px;
  width:18px;
  height:18px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:342px;
  width:0px;
  height:0px;
}
#u44_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u44_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1px;
  width:8px;
  height:38px;
}
#u44_seg2 {
  border-width:0px;
  position:absolute;
  left:-117px;
  top:31px;
  width:121px;
  height:8px;
}
#u44_seg3 {
  border-width:0px;
  position:absolute;
  left:-117px;
  top:31px;
  width:8px;
  height:47px;
}
#u44_seg4 {
  border-width:0px;
  position:absolute;
  left:-122px;
  top:66px;
  width:18px;
  height:18px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:342px;
  width:0px;
  height:0px;
}
#u46_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u46_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1px;
  width:8px;
  height:38px;
}
#u46_seg2 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:31px;
  width:9px;
  height:8px;
}
#u46_seg3 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:31px;
  width:9px;
  height:8px;
}
#u46_seg4 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:31px;
  width:117px;
  height:8px;
}
#u46_seg5 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:31px;
  width:8px;
  height:47px;
}
#u46_seg6 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:66px;
  width:18px;
  height:18px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:343px;
  width:200px;
  height:60px;
  font-size:12px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:196px;
  word-wrap:break-word;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:403px;
  width:0px;
  height:0px;
}
#u50_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u50_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:33px;
  width:380px;
  height:8px;
}
#u50_seg2 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:28px;
  width:18px;
  height:18px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:29px;
  width:100px;
  word-wrap:break-word;
}
